* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  margin: 0 auto;
  width: 1200px;
  max-width: 1200px;
  background-color: rgb(255, 255, 255);
}

.task {
  width: 100%;
  min-height: 40vh;
  background-color: rgb(243, 243, 243);
  padding: 20px 15px;
  margin-bottom: 20px;
}

h1 {
  font-family: Lato;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: rgb(231, 100, 96);
}

h2 {
  font-family: Lato;
  font-size: 30px;
  font-weight: bold;
}

p {
  font-family: Lato;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

pre {
  background-color: rgb(59, 59, 59);
  text-align: start;
  color: white;
}

code {
  font-size: 20px;
}

/* <> Exercise */
.exercise {
  border-top: solid 1px rgb(197, 197, 197);
  padding: 20px 0;
  margin: 15px 0;
}
/* </> Exercise */

/* <> Answer code */
.answer-code {
  border-left: solid 5px green;
  padding-left: 10px;
  margin-top: 20px;
}

.answer__p {
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
  margin-bottom: 15px;
}

.answer__div {
  background-color: black;
  color: green;
  padding: 5px 3px;
}

button {
  margin-top: 15px;
  font-size: 20px;
}

/* </> Answer code */

/* <> Task 4 */

.ex1-divs div {
  visibility: hidden;
}

.ex2-divs div {
  font-size: 20px;
}

#cart-items .item {
  font-size: 20px;
}

.ex6-ul-container {
  font-size: 19.5px;
}
/* </> Task 4 */
